@page
@model RBT.App.Frontend.Pages.PropietarioPage.ListarPropietario
@{
    ViewData["Title"] = "ListarPropietario";
}

<h1>@ViewData["Title"]</h1>


<table class="table">
<thead>
    <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Telefono</th>
        <th>Fecha de Nacimiento</th>
        <th>Ciudad Residencia</th>
        <th>Correo Electronico</th>
    </tr>
</thead>
    @foreach (var propietario in Model.ListaPropietario)
    {
        <tr>
            <td>@propietario.Nombres</td>
            <td>@propietario.Apellidos</td>
            <td>@propietario.Telefono</td>
            <td>@propietario.FechaNacimiento</td>
             <td>@propietario.CiudadResidencia</td>
              <td>@propietario.Correo</td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarPropietario" asp-route-PropietarioId="@propietario.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"> </i>
                    Editar
                </a>
            </td>
            <td>
                @*//Este es el boton eliminar ----------------Aqui abajo tiene "numeroId" que es el nombre del parametro que recibe el metodo "OnPost" del boton eliminar*@
                <form method="post" asp-page-handler="Delete" asp-route-numeroId="@propietario.Id">
                    <button class="btn btn-danger">Borrar</button>
                </form>
            </td>

        </tr>
    }

</table>

<a asp-page="./CrearPropietario" class="btn btn-primary">Registrar</a>
<body>
      <style>
      body {
  background-image: url('https://th.bing.com/th/id/OIP.SCnDhYg9HcUUfvAxrW57PgHaEo?pid=ImgDet&rs=1');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  } 
  </style>
</body>