@page
@model RBT.App.Frontend.Pages.UsuarioAppPage.ListarUsuarioApp
@{
    ViewData["Title"] = "ListarUsuario";
}

<h1>@ViewData["Title"]</h1>


<table class="table">

    @foreach (var usuarioapp in Model.ListaUsuariosApp)
    {
        <tr>
            <td>@usuarioapp.Nombres</td>
            <td>@usuarioapp.Apellidos</td>
            <td>@usuarioapp.Telefono</td>
            <td>@usuarioapp.FechaNacimiento</td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarUsuarioApp" asp-route-UsuarioAppId="@usuarioapp.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"> </i>
                    Editar
                </a>
            </td>
            <td>
                @*//Este es el boton eliminar ----------------Aqui abajo tiene "numeroId" que es el nombre del parametro que recibe el metodo "OnPost" del boton eliminar*@
                <form method="post" asp-page-handler="Delete" asp-route-numeroId="@usuarioapp.Id">
                    <button class="btn btn-danger">Borrar</button>
                </form>
            </td>

        </tr>
    }

</table>

<a asp-page="./CrearUsuarioApp" class="btn btn-primary">Registrar</a>