@page
@model RBT.App.Frontend.Pages.SoatPage.ListarSoat
@{
    ViewData["Title"] = "ListarSoat";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
<thead>
    <tr>
        <th>Fecha de Compra</th>
        <th>Fecha de Vencimiento</th>
        <th>Id Vehiculo</th>
    </tr>
</thead>
    @foreach (var soat in Model.ListaSoat)
    {
        <tr>
            <td>@soat.FechaCompra</td>
            <td>@soat.FechaVencimiento</td>
            <td>@soat.vehiculoId</td>
            

            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarSoat" asp-route-SoatId="@soat.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"> </i>
                    Editar
                </a>
            </td>
            <td>
                @*//Este es el boton eliminar ----------------Aqui abajo tiene "numeroId" que es el nombre del parametro que recibe el metodo "OnPost" del boton eliminar*@
                <form method="post" asp-page-handler="Delete" asp-route-numeroId="@soat.Id">
                    <button class="btn btn-danger">Borrar</button>
                </form>
            </td>

        </tr>
    }

</table>

<a asp-page="./CrearSoat" class="btn btn-primary">Registrar</a>
<body>
      <style>
      body {
  background-image: url('https://th.bing.com/th/id/OIP.SCnDhYg9HcUUfvAxrW57PgHaEo?pid=ImgDet&rs=1');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  } 
  </style>
</body>