@page
@model RBT.App.Frontend.Pages.JefeOperacionesPage.ListarJefeOperaciones
@{
    ViewData["Title"] = "ListarJefeOperaciones";
}

<h1>@ViewData["Title"]</h1>


<table class="table">
<thead>
    <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Telefono</th>
        <th>Fecha de Nacimiento</th>
    </tr>
</thead>
    @foreach (var jefeoperaciones in Model.ListaJefesOperaciones)
    {
        <tr>
            <td>@jefeoperaciones.Nombres</td>
            <td>@jefeoperaciones.Apellidos</td>
            <td>@jefeoperaciones.Telefono</td>
            <td>@jefeoperaciones.FechaNacimiento</td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarJefeOperaciones" asp-route-JefeOperacionesId="@jefeoperaciones.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"> </i>
                    Editar
                </a>
            </td>
            <td>
                @*//Este es el boton eliminar ----------------Aqui abajo tiene "numeroId" que es el nombre del parametro que recibe el metodo "OnPost" del boton eliminar*@
                <form method="post" asp-page-handler="Delete" asp-route-numeroId="@jefeoperaciones.Id">
                    <button class="btn btn-danger">Borrar</button>
                </form>
            </td>

        </tr>
    }

</table>

<a asp-page="./CrearJefeOperaciones" class="btn btn-primary">Registrar</a>
<body>
      <style>
      body {
  background-image: url('https://th.bing.com/th/id/OIP.SCnDhYg9HcUUfvAxrW57PgHaEo?pid=ImgDet&rs=1');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  } 
  </style>
</body>